.conatainer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
.login-link {
    margin-left: 1200px;
}
.login-link-text {
    text-decoration: none;
    color: black;
}
.user-icon {
    margin-bottom: 3px;
    height: 20px;
    width: 20px;
}
//여기부터 회원가입 폼
.register-container {
    width: 100%;
    height: 100px;
    justify-content: center;
}
.h3-box {
    height: 100px;
    background-color: rgb(250, 248, 248);
    border: 1px solid rgb(232, 231, 231);
   
}
h3 {
    margin-top: 30px;
    margin-left: 50px;
    font-size: 1.5em;
}
p {
    color: rgb(77, 77, 77);
    margin-left: 80px;
    margin-top: 60px;
}
.menu-list {
    display: flex;
    justify-content: flex-end;
}
input {
    margin-bottom: 40px;
}
.email-input {
    width: 1000px;
    height: 40px;
    display: block;
}
.pw-input {
    width: 1000px;
    height: 40px;
    display: block;
}
.pwCheck-input {
    width: 1000px;
    height: 40px;
    display: block;
}
.userName-input {
    width: 1000px;
    height: 40px;
    display: block;
}
.register-btn {
    border: 0;
    color: red;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid red;
    width: 100px;
    height: 40px;
}
form {
    margin-left: 80px;
}